@font-face {
    font-family: "Cursed";
    src: url("/assets/fonts/CursedTimerUlil-Aznm.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background: url("assets/basketball.jpg");
    background-size: cover;
    height: 100vh;
}

header {
    text-align: center;
    color: white;
    margin: 3vh 0 1vh;
}

main {
    display: flex;
    justify-content: center;
}

#scoreboard {
    width: 575px;
    height: 385px;
    background-color: rgb(41, 40, 40);
    display: flex;
    flex-direction: column;
    opacity: 0.95;
}

.scoreboard-item-section {
    width: 100%;
    height: 80%;
    display: flex;
}

.scoreboard-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-header {
    color: white;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.team-score {
    width: 155px;
    height: 120px;
    background-color: #080001;
    margin: 1vh 0;
    color: #f94f6d;
    font-family: "Cursed", sans-serif;
    font-weight: 400;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-score-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    height: 45px;
}

.score-button {
    all: unset;
    background-color: transparent;
    color: #9aabd8;
    font-family: "Cursed", sans-serif;
    font-size: 18px;
    border: 2px solid #9aabd8;
    padding: 7px;
    border-radius: 5px;
}

#misc {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset {
    all: unset;
    background-color: #9aabd8;
    color: #1b244a;
    font-family: "Cursed", sans-serif;
    font-size: 24px;
    padding: 8px;
    border-radius: 5px;
}
